<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.miniapp.daos.ShopDAO">

    <resultMap id="carPartResultMap" type="CarPart">
        <id property="id" column="part_id"/>
        <result property="name" column="part_name"/>
        <association property="mechanicShop" javaType="MechanicShop">
            <id property="id" column="part_shop_id"/>
        </association>
    </resultMap>

    <resultMap id="shopWithPartsResultMap" type="MechanicShop">
        <id property="id" column="shop_id"/>
        <result property="name" column="shop_name"/>

        <collection
                property="parts"
                ofType="CarPart"
                resultMap="carPartResultMap"/>
    </resultMap>

    <resultMap id="shopById" type="MechanicShop">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="allShopsResult" type="MechanicShop">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>


    <insert id="insertShop" parameterType="MechanicShop">
        INSERT INTO mechanic_shop (id, name)
        VALUES (#{id}, #{name})
    </insert>

    <select id="getShopById" resultMap="shopById">
        SELECT *
        FROM mechanic_shop
        WHERE id = #{id}
    </select>

    <update id="updateShop" parameterType="MechanicShop">
        UPDATE mechanic_shop
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <select id="findAllShops" resultMap="allShopsResult">
        SELECT *
        FROM mechanic_shop
    </select>

    <select id="findShopByIdWithParts" resultMap="shopWithPartsResultMap">
        SELECT
            ms.id as shop_id,
            ms.name as shop_name,
            cp.id as part_id,
            cp.name as part_name,
            cp.mechanic_shop_id as part_shop_id
        FROM mechanic_shop ms
        LEFT JOIN car_part cp ON ms.id = cp.mechanic_shop_id
        WHERE ms.id = #{id}
    </select>


    <delete id="deleteShopById">
        DELETE FROM mechanic_shop
        WHERE id = #{id}
    </delete>

</mapper>