<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.miniapp.entities.CarPart" alias="CarPart"/>
        <typeAlias type="com.example.miniapp.entities.MechanicShop" alias="MechanicShop"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.example.miniapp.typeHandlers.UUIDTypeHandler" javaType="java.util.UUID"/>
    </typeHandlers>
</configuration>